
<body>
    <form action="/tickets/add" method="POST">
        <fieldset>
        <legend>Add Ticket</legend>
        <p>
            <label>Event Name:</label>
            <input type="text" name="event_name" placeholder="subject..." />
        </p>
        <p>
            <label>Event Date:</label>
            <input type="date" name="event_date" placeholder="subject..." />
        </p>
        <p>
            <label>Type:</label>
            <input type="text" name="type" placeholder="subject..." />
        </p>
        <p>
            <label>Price:</label>
            <input type="text" name="price" placeholder="subject..." />
        </p>
        <p>
            <input type="submit" name="submit" value="Send" />
        </p>
        </fieldset>
    </form>
</body>